Soru 1: persona.csv dosyasını okutunuz ve veri seti ile ilgili genel bilgileri gösteriniz.

In [1]:
import pandas as pd
df = pd.read_csv("/kaggle/input/persona/persona.csv")
df.head()

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

Soru 2: Kaç unique SOURCE vardır? Frekansları nedir?

In [2]:
df["SOURCE"].nunique()
df["SOURCE"].value_counts()

SOURCE
android    2974
ios        2026
Name: count, dtype: int64

Soru 3: Kaç unique PRICE vardır?

In [3]:
df["PRICE"].nunique()

6

Soru 4: Hangi PRICE'dan kaçar tane satış gerçekleşmiş?

In [4]:
df["PRICE"].value_counts()

PRICE
29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: count, dtype: int64

Soru 5: Hangi ülkeden kaçar tane satış olmuş?

In [5]:
df["COUNTRY"].value_counts()

COUNTRY
usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: count, dtype: int64

Soru 6: Ülkelere göre satışlardan toplam ne kadar kazanılmış?

In [6]:
df.groupby("COUNTRY").agg({"PRICE" : "sum"})

         PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225

Soru 7: SOURCE türlerine göre satış sayıları nedir?

In [7]:
df["SOURCE"].value_counts()

SOURCE
android    2974
ios        2026
Name: count, dtype: int64

Soru 8: Ülkelere göre PRICE ortalamaları nedir?

In [8]:
df.groupby("COUNTRY").agg({"PRICE" : "mean"})

             PRICE
COUNTRY
bra      34.327540
can      33.608696
deu      34.032967
fra      33.587459
tur      34.787140
usa      34.007264

Soru 9: SOURCE'lara göre PRICE ortalamaları nedir?

In [9]:
df.groupby("SOURCE").agg({"PRICE" : "mean"})

             PRICE
SOURCE
android  34.174849
ios      34.069102

Soru 10: COUNTRY-SOURCE kırılımında PRICE ortalamaları nedir?

In [10]:
df.groupby(["COUNTRY", "SOURCE"]).agg({"PRICE" : "mean"})

                     PRICE
COUNTRY SOURCE
bra     android  34.387029
        ios      34.222222
can     android  33.330709
        ios      33.951456
deu     android  33.869888
        ios      34.268817
fra     android  34.312500
        ios      32.776224
tur     android  36.229437
        ios      33.272727
usa     android  33.760357
        ios      34.371703

Görev 2: COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar nedir?

In [11]:
df.groupby(["COUNTRY", "SOURCE", "SEX", "AGE"]).agg({"PRICE" : "mean"})

                                PRICE
COUNTRY SOURCE  SEX    AGE
bra     android female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897
...                               ...
usa     ios     male   42   30.250000
                       50   39.000000
                       53   34.000000
                       55   29.000000
                       59   46.500000

[348 rows x 1 columns]

Görev 3: Çıktıyı PRICE’a göre sıralayınız.

• Önceki sorudaki çıktıyı daha iyi görebilmek için sort_values metodunu azalan olacak şekilde PRICE’a göre uygulayınız.

• Çıktıyı agg_df olarak kaydediniz.

In [12]:
agg_df = df.groupby(["COUNTRY", "SOURCE", "SEX", "AGE"]).agg({"PRICE" : "mean"}).sort_values("PRICE", ascending=False)
agg_df.head()

                            PRICE
COUNTRY SOURCE  SEX    AGE
bra     android male   46    59.0
usa     android male   36    59.0
fra     android female 24    59.0
usa     ios     male   32    54.0
deu     android female 36    49.0

Görev 4: Indekste yer alan isimleri değişken ismine çeviriniz.

• Üçüncü sorunun çıktısında yer alan PRICE dışındaki tüm değişkenler index isimleridir. Bu isimleri değişken isimlerine çeviriniz.

In [13]:
agg_df = agg_df.reset_index()
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE
0     bra  android    male   46   59.0
1     usa  android    male   36   59.0
2     fra  android  female   24   59.0
3     usa      ios    male   32   54.0
4     deu  android  female   36   49.0

Görev 5: Age değişkenini kategorik değişkene çeviriniz ve agg_df’e ekleyiniz.

• Age sayısal değişkenini kategorik değişkene çeviriniz.

• Aralıkları ikna edici şekilde oluşturunuz.

• Örneğin: ‘0_18', ‘19_23', '24_30', '31_40', '41_70'

In [14]:
bins = [0, 18, 23, 30, 40,70]
labels = ["0_18", "19_23", "24_30", "31_40", "41_70"]
agg_df["AGE_CAT"] =pd.cut(agg_df["AGE"], bins=bins, labels=labels)
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE AGE_CAT
0     bra  android    male   46   59.0   41_70
1     usa  android    male   36   59.0   31_40
2     fra  android  female   24   59.0   24_30
3     usa      ios    male   32   54.0   31_40
4     deu  android  female   36   49.0   31_40

Görev 6: Yeni seviye tabanlı müşterileri (persona) tanımlayınız.

• Yeni seviye tabanlı müşterileri (persona) tanımlayınız ve veri setine değişken olarak ekleyiniz.

• Yeni eklenecek değişkenin adı: customers_level_based

• Önceki soruda elde edeceğiniz çıktıdaki gözlemleri bir araya getirerek customers_level_based değişkenini oluşturmanız gerekmektedir.

In [15]:
agg_df["customer_level_based"] = [country.upper() + "_" + source.upper() + "_" + sex.upper() + "_" + age_cat.upper()
                                  for country, source, sex, age_cat in agg_df[["COUNTRY", "SOURCE", "SEX", "AGE_CAT"]].values]
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE AGE_CAT      customer_level_based
0     bra  android    male   46   59.0   41_70    BRA_ANDROID_MALE_41_70
1     usa  android    male   36   59.0   31_40    USA_ANDROID_MALE_31_40
2     fra  android  female   24   59.0   24_30  FRA_ANDROID_FEMALE_24_30
3     usa      ios    male   32   54.0   31_40        USA_IOS_MALE_31_40
4     deu  android  female   36   49.0   31_40  DEU_ANDROID_FEMALE_31_40

Görev 7: Yeni müşterileri (personaları) segmentlere ayırınız.

• Yeni müşterileri (Örnek: USA_ANDROID_MALE_0_18) PRICE’a göre 4 segmente ayırınız.

• Segmentleri SEGMENT isimlendirmesi ile değişken olarak agg_df’e ekleyiniz.

• Segmentleri betimleyiniz (Segmentlere göre group by yapıp price mean, max, sum’larını alınız).

In [16]:
agg_df["SEGMENT"] = pd.qcut(agg_df["PRICE"], 4, labels=["D", "C", "B", "A"])
agg_df.head()

,COUNTRY,SOURCE,SEX,AGE,PRICE,AGE_CAT,customer_level_based,SEGMENT
0,bra,android,male,46,59.0,41_70,BRA_ANDROID_MALE_41_70,A
1,usa,android,male,36,59.0,31_40,USA_ANDROID_MALE_31_40,A
2,fra,android,female,24,59.0,24_30,FRA_ANDROID_FEMALE_24_30,A
3,usa,ios,male,32,54.0,31_40,USA_IOS_MALE_31_40,A
4,deu,android,female,36,49.0,31_40,DEU_ANDROID_FEMALE_31_40,A

In [17]:
agg_df.groupby("SEGMENT").agg({"PRICE" : ["sum", "mean", "count", "median"]})

/tmp/ipykernel_18/185536020.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  agg_df.groupby("SEGMENT").agg({"PRICE" : ["sum", "mean", "count", "median"]})

               PRICE
                 sum       mean count     median
SEGMENT
D        2375.325850  27.302596    87  29.000000
C        3128.667165  32.933339    95  32.913043
B        2870.329792  35.436170    81  35.333333
A        3521.952577  41.434736    85  39.666667

Görev 8: Yeni gelen müşterileri sınıflandırıp, ne kadar gelir getirebileceklerini tahmin ediniz.

• 33 yaşında ANDROID kullanan bir Türk kadını hangi segmente aittir ve ortalama ne kadar gelir kazandırması beklenir?

• 35 yaşında IOS kullanan bir Fransız kadını hangi segmente aittir ve ortalama ne kadar gelir kazandırması beklenir?

In [18]:
new_user = "TUR_ANDROID_FEMALE_31_40"
agg_df[agg_df["customer_level_based"] == new_user]

,COUNTRY,SOURCE,SEX,AGE,PRICE,AGE_CAT,customer_level_based,SEGMENT
18,tur,android,female,32,43.000000,31_40,TUR_ANDROID_FEMALE_31_40,A
35,tur,android,female,31,40.666667,31_40,TUR_ANDROID_FEMALE_31_40,A